@model HomeBanner
@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h4 class="card-title text-center">Home-Banner</h4>
    <div class="table-responsive" style="width: 97%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="padding-left: 114px;">
                        Large-Image
                    </th>
                    <th style="padding-left: 106px;">
                        Title
                    </th>
                    <th style="padding-left: 114px;">
                        Operations
                    </th>
                    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
                </tr>
            </thead>
            <tbody>
                  <tr>
                    <td class="py-1" style="padding:10px;text-align:center">
                        <img src="~/assets/images/@Model.LargeImage" style="width: 202px;height:202px" alt="image" />
                    </td>
                        <td class="py-1">
                            @Model.Title
                        </td>
                        <td class="py-1">
                            <div style="display:flex;gap:10px;">
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@Model.Id">Info</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>



