@model BrideUpdateVM
@{
    ViewData["Title"] = "Edit";
}
<div class="container my-5">
    <div class="slider-content" style="width: 282px;height: 167px;">
        <img style="width:100%;height:100%;" src="~/assets/images/@Model.Image" />
    </div>
    <form style="width: 70%;" class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
        <label style="padding-left:6px;" for="formFile" class="form-label my-2">Choose Photo</label>
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span>
        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }

