@model ForgotPasswordVM
@inject ILayoutService layout;

@{
    ViewData["Title"] = "ForgotPassword";
}
   <!-- Main Start -->
<main>
    <section id="wrapper-forgotPassword" style="background-image: url('/assets/images/@layout.GetSectionBackgroundImages()["BasicSmallBackgroundImage"]')">
        <div class="container page_text">
            <h1>My Account</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>My Account</span></li>
            </ul>
        </div>
    </section>
    <section id="ressetPassword">
        <div class="container">
            <div class="password-area">
                <p>
                    Lost your password? Please enter your username or email address. You will receive a link to create a
                    new password via email.
                </p>
                <form class="lost_reset_password" method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <label for="user_login">Username or email</label>
                    <input class="input-text" type="email" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <button type="submit">Reset password</button>
                </form>
            </div>

        </div>

    </section>
</main>
<!-- End Main -->
