  
<!-- Start Main-->
  <main>
    <div class="container" style="margin-top: 100px;">
        <div class="alert alert-success" role="alert" style="background-color: #e9ac98;color: #fff;border-color: #e9ac98;">
            Please check your email for register confirmation
        </div>
    </div>
</main>
<!-- End Main -->

