<footer>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-12 col-12 col-md-2">
                    <div class="ApColumn ">
                        <div class="block ApLink ApBlockLink">
                            <ul>
                                <li><a href="blog.html">Blog </a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#"> Partner</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-12 col-md-3">
                    <div class="ApColumn ">

                        <div class="block ApLink ApBlockLink">
                            <ul>
                                <li><a>Size chart</a></li>
                                <li>
                                    <a>Track order</a>
                                </li>
                                <li><a>Dress Guide</a></li>
                                <li>
                                    <a>Shipping</a>
                                </li>
                                <li>
                                    <a>Payment Methods</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 col-md-3">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/images/Logo.svg">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 col-md-4">
                    <div class="block-information">
                        <h4 class="title_block">Showroom</h4>
                        <p>Box 565, Charlestown, Nevis, West Indies,Caribbean</p>
                        <ul>
                            <li>Monday - Friday: <span>8am - 4pm </span></li>
                            <li>Saturday: <span>9am - 5pm</span></li>
                        </ul>
                    </div>
                    <div class="block-social">
                        <h6 class="title_block">
                            Follow us
                        </h6>
                        <ul>
                            <li class="facebook">
                                <a href="#" title="Facebook" target="_blank"
                                   rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#" title="Twitter" target="_blank"
                                   rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li class="pinterest">
                                <a href="#" title="Pinterest" target="_blank"
                                   rel="noopener noreferrer"><i class="fa-brands fa-pinterest"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#" title="Instagram" target="_blank"
                                   rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <hr>
    <section id="footer-bottom">
        <div class="container">
            <div class="block-copyright ApRawHtml d-lg-block d-none">
                Copyright © 2020 All Rights Reserved. <span>Bridey.</span>
            </div>
        </div>
    </section>
</footer>
