@model List<WishlistDetailVM>
@inject ILayoutService layout;
@{
    ViewData["Title"] = "Wishlist";
}

<!-- Main Start -->
<main>
    <section id="wrapper-wishlist" style="background-image: url('/assets/images/@layout.GetSectionBackgroundImages()["BasicSmallBackgroundImage"]')">
        <div class="container page_text">
            <h1>Wishlist</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Wishlist</span></li>
            </ul>
        </div>
    </section>
    <section id="wishlist-table">
        <div class="container">
            <div class="table-area">
                <div class="table-products">
                    @if (Model.Count > 0)
                    {
                        <table class="table product-table-wishlist">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-wishlist">
                                @foreach (var item in Model)
                                {

                                    <tr data-id="@item.Id">
                                        <td>
                                            <img src="~/assets/images/@item.Image" alt="">
                                        </td>
                                        <td>@item.Name</td>
                                        <td><span>$</span> @item.Price.ToString("0.00")</td>
                                        <td><i class="fa-solid fa-x delete-icon delete-product-wishlist"></i></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="footer-wish">
                            <button class="btn btn-primary shop btn-wishlist"><a asp-controller="Shop" asp-action="Index">Continue shopping</a></button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success-wishlist" role="alert" style="background-color: #e9ac98;color: #fff;border-color: #e9ac98;">
                            Wishlist Empty.Please Add product in your wishlist..
                        </div>
                    }
                    <div class="alert alert-success-wishlist d-none" role="alert" style="background-color: #e9ac98;color: #fff;border-color: #e9ac98;">
                        Wishlist Empty.Please Add product in your wishlist..
                    </div>
                </div>
             
            </div>
        </div>
    </section>
</main>
<!-- Main End -->
@section Scripts {
    <script src="~/assets/js/wishlist.js"></script>
}