@model List<WishlistDetailVM>
@inject ILayoutService layout;
@{
    ViewData["Title"] = "Wishlist";
}

<!-- Main Start -->
<main>
    <section id="wrapper-wishlist" style="background-image: url('/assets/images/@layout.GetSectionBackgroundImages()["BasicSmallBackgroundImage"]')">
        <div class="container page_text">
            <h1>Wishlist</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Wishlist</span></li>
            </ul>
        </div>
    </section>
    <section id="wishlist-table">
        <div class="container">

            @if (Model.Count > 0)
            {
                <div class="table-area table-area-wishlist">
                    <div class="table-products">
                        <table class="table product-table-wishlist">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-wishlist">
                                @foreach (var item in Model)
                                {

                                    <tr data-id="@item.Id">
                                        <td>
                                            <img src="~/assets/images/@item.Image" alt="">
                                        </td>
                                        <td>@item.Name</td>
                                        <td><span>$</span> @item.Price.ToString("0.00")</td>
                                        <td><i style="color: #e9ac98;" class="fa-solid fa-trash-can delete-icon delete-product-wishlist"></i></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="footer-wish footer-wish-wishlist">
                            <button class="btn btn-primary shop btn-wishlist"><a asp-controller="Shop" asp-action="Index">Continue shopping</a></button>
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div style="width: 27%;height: 64px;padding-left: 75px;margin-left: 37%;margin-bottom: 31px;margin-top: 102px;background-color: #e9ac98;color: #fff;border-color: #e9ac98;" class="alert alert-success" role="alert">
                    Your wishlist is currently empty...
                </div>
                <a style="text-decoration:none;cursor:pointer;" asp-controller="Shop" asp-action="Index"><div style="width: 11%;margin-left: 45%;margin-bottom: 58px;padding-left: 18px;background-color: #e9ac98;color: #fff;border-color: #e9ac98;" class="alert alert-success" role="alert">Return to shop</div></a>
             
            }
            <div style="width: 27%;height: 64px;padding-left: 75px;margin-left: 37%;margin-bottom: 31px;margin-top: 102px;background-color: #e9ac98;color: #fff;border-color: #e9ac98;" class="alert alert-success  alert-success-wishlist d-none" role="alert">
                Your wishlist is currently empty..
            </div>
            <a style="text-decoration:none;cursor:pointer;" asp-controller="Shop" asp-action="Index"><div style="width: 11%;margin-left: 45%;margin-bottom: 58px;padding-left: 18px;background-color: #e9ac98;color: #fff;border-color: #e9ac98;" class="alert alert-success alert-success-wishlist d-none" role="alert">Return to shop</div></a>
        </div>
    </section>
</main>
<!-- Main End -->
@section Scripts {
    <script src="~/assets/js/wishlist.js"></script>
}