@model AboutBanner
@{
    ViewData["Title"] = "Detail";
}
<div class="container my-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center;">
                    Small-Image
                </th>
                <th style="text-align: center;">
                    Large-Image
                </th>
                <th style="text-align: center;">
                    Title
                </th>
                <th style="text-align: center;">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-1" style="text-align: center;width: 298px;">
                    <img src="~/assets/images/@Model.SmallImage" style="width: 94%;height:200px" />
                </td>
                <td class="py-1" style="padding: 0px;text-align: center;">
                    <img src="~/assets/images/@Model.LargeImage" style="width: 83%;height:200px" />
                </td>
                <td class="py-1">
                    @Model.Title
                </td>
                <td class="py-1" style="width: 372px;text-align: center;">
                    @Model.Description
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn mt-3" style="background: #696cffd1;color:#fff;" asp-action="Index">Back</a>
</div>



