@model PositionUpdateVM
@{
    ViewData["Title"] = "Edit";
}
<div class="container my-5">
    <form style="width: 70%;" class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Add Header</label>
            <input class="form-control" id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>
        </div>
        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }



