@model List<Brand>
@{
    ViewData["Title"] = "Index";
}

<div class="card mt-5" style="width: 95%;margin-left: 34px;">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center;">Image</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;"> Operations</th>
                    <a class="btn btn-success text-white" asp-action="Create" style="float:right;margin: 22px;">Create</a>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var brand in Model)
                {
                    <tr data-id="@brand.Id">
                        <td class="py-1" style="text-align: center;">
                            <img src="~/assets/images/@brand.Image" style="width: 162px;height: 113px;" alt="image" />
                        </td>
                        <td class="py-1" style="text-align: center;">
                            @brand.Name
                        </td>
                        <td class="py-1" style="text-align: center;">
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@brand.Id">Info</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@brand.Id">Edit</a>
                            <a class="btn btn-outline-danger delete-brand">Delete</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <script src="~/admin/js/admin.js"></script>
}




