@model BasketVM
@{
    ViewData["Title"] = "Basket";
}

<!-- Main Start -->
<main>

    <section id="wrapper-basket" style="background-image: url('/assets/images/@Model.SectionBackgroundImages["BasicSmallBackgroundImage"]');">
        <div class="container page_text">
            <h1>Basket</h1>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li><span>Basket</span></li>
            </ul>
        </div>
    </section>

    <section id="basket-table">
        <div class="container">
            <div class="table-area">
                <div class="table-products">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="3">
                                <td>
                                    <img src="~/assets/images/dress1.jpg" alt="">
                                </td>
                                <td>Lotti Midi Dress</td>
                                <td><span>$</span> <span>149.00</span></td>
                                <td>
                                    <button class="minus"><i class="fa-solid fa-minus"></i></button>
                                    <input value="1" type="text" disabled="">
                                    <button class="plus"><i class="fa-solid fa-plus "></i></button>
                                </td>
                                <td class="price"><span>$</span><span>149.00</span> </td>
                                <td><i class="fa-solid fa-x delete-icon"></i></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="footer-wish">
                    <button class="btn btn-primary shop"><a style="font-size:15px;" asp-controller="Shop" asp-action="Index">Continue shopping</a></button>
                    <span class="total-price">Grand total: $149</span>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- Main End -->
@section Scripts {
    <script src="~/assets/js/basket.js"></script>

}


